@font-face {
  font-family: "nanumfont";
  src: url("/src/assets/fonts/TTF/NanumSquareNeo-dEb.ttf");
}

:root {
  --font-nanumfont: "nanumfont";
}

body {
  margin: 0;
  font-family: var(--font-nanumfont);
}
